<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.funapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_apikey" />

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/LoginTheme">
        </activity>
        <activity
            android:name=".registrarse.RegistrarseActivity"
            android:theme="@style/RegistrarseTheme"
            android:label="@string/registrase"
            android:parentActivityName=".login.LoginActivity">
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".ui.miseventos.crear_editar_evento.CrearEditarEventoActivity"
            android:theme="@style/AppTheme"
            android:label="@string/crear_editar_evento"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity
            android:name=".ui.explorar.EventosTematica.EventosTematicaActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activities.EventoDetallesActivity"
            android:theme="@style/AppTheme"
            android:label="@string/evento_seleccionado"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".activities.MainActivity">
        </activity>

    </application>

</manifest>